---
// Component imports
import { SEO } from "astro-seo"
import { jsonLd } from "@util/jsonLd"
import { getImage } from "astro:assets"
import logo from "@img/okestream.png"
import featured from "@img/okestream-featured.jpg"
const optimizedLogo = await getImage({ src: logo, format: "avif" })
const optimizedFeatured = await getImage({ src: featured, format: "avif" })

// Style imports
// import "@style/tailwind.css"
import "@style/slot2.css"

// Helper imports
import { seoConfig } from "@util/seoConfig"

// Props
export interface Props {
  /** Title of the page. */
  title: string

  /** Specific OpenGraph page title. */
  ogTitle?: string

  /** Description of the page. */
  description?: string

  /** Image thumbnail for the page. */
  image?: {
    url: string
    alt: string
  }

  /** Whether or not to disable indexing */
  disableIndexing?: boolean
}

const {
  title,
  ogTitle,
  description,
  image,
  disableIndexing = false
} = Astro.props as Props
---

<html lang="en">
  <head>
    <!-- SEO. -->

    <SEO
      title={title}
      description={seoConfig.description || description}
      noindex={disableIndexing}
      nofollow={disableIndexing}
      openGraph={{
        basic: {
          title: ogTitle || title,
          type: "website",
          image: optimizedFeatured.src
        },
        image: {
          width: seoConfig.image.width,
          height: seoConfig.image.height,
          alt: seoConfig.image.alt || image.alt
        },
        optional: {
          siteName: seoConfig.siteName,
          description: seoConfig.description || description
        }
      }}
      twitter={{
        // card: seoConfig.twitter.card,
        title: seoConfig.title,
        description: seoConfig.description,
        image: seoConfig.image.url,
        imageAlt: optimizedFeatured.src
      }}
      extend={seoConfig.extend}
    />

    <!-- Global meta tags. -->
    <meta charset="utf-8" />
    <meta
      name="google-site-verification"
      content="B8KsAoMz1BCJBVGDtiS7qPVRRG8FZtBWU9u0CmrIJpE"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicons. -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#30E130" />
    <meta
      name="msapplication-TileImage"
      content="/favicons/favicon-144x144.png"
    />
    <meta name="msapplication-config" content="/browserconfig.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
    <meta name="theme-color" content="#30E130" />

    <!-- Service worker registration. -->

    <script is:inline src="/registerSW.js"></script>
    <link rel="manifest" href="/manifest.webmanifest" />

    <script type="application/ld+json" set:html={JSON.stringify(jsonLd.org)}
    ></script>
    <script type="application/ld+json" set:html={JSON.stringify(jsonLd.article)}
    ></script>
    <script
      type="application/ld+json"
      set:html={JSON.stringify(jsonLd.breadcrumbList)}
    ></script>
  </head>

  <body class="min-h-screen flex flex-col w-full overflow-x-hidden">
    <main class="flex flex-1 flex-col h-[100%] w-full">
      <slot />
    </main>

    <script>
      // This is a hack to get vite-plugin-pwa to generate a sw.js file.
      // Do not remove this script tag.
    </script>
  </body>
</html>
