html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a,
body,
div,
h1,
h2,
h3,
h4,
html,
p,
span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  vertical-align: baseline;
}
a,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
}
a {
  color: #e5ca63;
}
* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #e5ca63;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
}
p {
  margin: 0 0 10px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: justify;
}
.clear {
  clear: both;
}
.acenter {
  text-align: center;
}
body {
  background-color: #020202;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 5px;
  font: 250 16px Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
  color: #fff;
  text-shadow: 0 0 3px#000;
  letter-spacing: 1.1px;
}
@keyframes blinking {
  0% {
    border: 2px solid #fff;
  }
  100% {
    border: 2px solid #ee0905;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .tron-regis {
    margin: 0 10px 0 0;
  }
  .tron-login {
    margin: 10px 20px 10px 0;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .tron-regis {
    margin: 0 10px 0 0;
  }
  .tron-login {
    margin: 0 10px 0 0;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
  .tron-regis {
    margin: 0 10px 0 0;
  }
  .tron-login {
    margin: 0 10px 0 0;
  }
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.p-0 {
  padding: 0;
}
.col-md-12,
.col-md-4,
.col-md-6,
.col-md-8,
.col-xs-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-6 {
  float: left;
  width: 50%;
}
@media (min-width: 768px) {
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
  }
  .logomobi {
    display: none;
  }
  .logform {
    padding-top: 2rem;
  }
  .tron-regis {
    margin: 0 10px 0 0;
  }
  .tron-login {
    margin: 0 10px 0 0;
  }
}
@media (max-width: 768px) {
  .logo {
    display: none;
  }
  .navbar {
    position: fixed;
  }
  .logomobi {
    padding-top: 10px;
    border-bottom: solid #ebdb00 2px;
    border-radius: 10px;
  }
  .content {
    padding-top: 69px;
  }
  .logo {
    display: none;
  }
  .tron-regis {
    margin: 0 10px 0 0;
  }
  .tron-login {
    margin: 0 10px 0 0;
  }
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.paddy {
  padding: 15px;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mtop {
  margin-top: 0.75rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.pb-5 {
  padding-bottom: 1.25rem;
}
.pt-3 {
  padding-top: 1rem;
}
.navbar {
  background-color: #000;
  right: 0;
  left: 0;
  z-index: 1030;
  width: 100%;
  float: left;
}
.bottom {
  float: left;
  width: 100%;
}
ul li {
  list-style-type: none;
  font-weight: 700;
}
ul li:last-child {
  border: 0;
}
.copyleft {
  text-decoration: none;
  color: #fff;
  margin: 50px 0;
}
.copyleft a {
  color: #0f0;
}
.slide {
  width: 100%;
  border: 2px solid #ffe666;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 #ffe666;
}
.btn-daf {
  margin: 30px 0 30px 0;
  background: radial-gradient(circle 214px at 49.5% 54.2%, #cf0000 0, #000 96%);
  animation: blinking 0.5s infinite;
  transition: all 0.4s;
}
@keyframes blinking {
  0% {
    border: 3px solid #fff;
  }
  100% {
    border: 3px solid #ebdb00;
  }
}
table.SlotOnline {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-size: calc(8px  +  1vh);
  margin: 0 20px 0 0;
}
table.SlotOnline td,
table.SlotOnline th {
  border: 1px solid #265f7f;
  padding: 10px 5px 10px;
}
table.SlotOnline tbody td {
  font-size: calc(8px  +  1vh);
  font-weight: 500;
  color: #bfbfbf;
}
table.SlotOnline thead {
  background: #265f7f;
}
table.SlotOnline thead th {
  font-size: calc(12px  +  1vh);
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: radial-gradient(circle 214px at 49.5% 54.2%, #eb0000 0, #000 96%);
}
.main-menu-container {
  aspect-ratio: 100 / 29;
  margin: 0 10px 0 10px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  background-color: #000;
  color: #fff;
  padding: 20px;
}
.main-menu-container ul > li {
  display: inline;
  padding: 0 8px;
}
.main-menu-container ul > li:last-child {
  border: 0;
}
.main-menu-container > li {
  flex-basis: 25%;
  padding: 5px;
  order: 2;
}
.main-menu-container > li:nth-child(-n   +   4) {
  order: 0;
}
.main-menu-container > li > a {
  display: block;
  color: #fff;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: calc(8px  +  1vh);
  font-weight: 500;
  border: 2px solid #265f7f;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  background-color: #171717;
  margin: 10px;
  justify-content: center;
  line-height: 20px;
}
.bank-menu-container {
  margin: 10px 0 10px 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
  text-align: center;
}
.bank-menu-container > li {
  flex-basis: 25%;
  padding: 0 0 0 10px;
}
.bank-menu-container > li:nth-child(-n   +   4) {
  order: 0;
}
.site-description {
  text-align: left;
  padding: 10px;
  color: #ffe666;
  border-radius: 5px;
  box-shadow: 0 0 8px 4px #ffe666;
}
.site-description hr {
  margin: 10px 0 10px 0;
  color: #ffe666;
  border: 1px solid #ffe666;
}
.site-description p {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
  padding: 0 10px;
  color: #fff;
  text-align: justify;
}
.site-description li {
  margin: 5px 30px 10px;
  text-align: justify;
  color: #fff;
}
.site-description ul > li > a {
  color: #fff;
}
.site-description a {
  color: #0f0;
}
.site-description h1 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 2em;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: #0f0;
  margin: 20px 0 20px 0;
  text-align: center;
}
.site-description h2 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
  color: #0f0;
  margin: 20px 0 20px 0;
  text-align: center;
}
.site-description h3 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
  color: #0f0;
  margin: 20px 0 20px 0;
  padding: 10px 10px 10px 10px;
}
.site-description h4 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
  color: #70d970;
  margin: 20px 0 20px 0;
  padding: 10px;
}
.accordion h4 {
  background-color: transparent;
  border: 0;
}
.accordion h4 {
  font-size: 17px;
  line-height: 28px;
}
.accordion h4 i {
  height: 40px;
  line-height: 40px;
  position: absolute;
  right: 0;
  font-size: 12px;
}
#sub_wrapper {
  background: #685934;
  max-width: 650px;
  position: relative;
  padding: 10px;
  border-radius: 4px;
  margin: 20px auto;
}
.tombol_toc {
  position: relative;
  outline: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: calc(12px  +  1vh);
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 10px;
  color: #fff;
}
.tombol_toc svg {
  float: right;
}
#daftarisi {
  background: #262626;
  padding: 10px 10px 0;
  border-radius: 4px;
  margin-top: 10px;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: calc(8px  +  1vh);
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  line-height: 23px;
  color: #ffa400;
}
#daftarisi a {
  text-decoration: none;
  color: #fff;
}
#daftarisi ol {
  padding: 0 0 0 10px;
  margin: 0;
}
#daftarisi ol li.lvl1 {
  line-height: 1.5em;
  padding: 4px 0;
}
#daftarisi ol li.lvl1:nth-child(n   +   2) {
  border-top: 1px dashed #ddd;
}
#daftarisi ol li.lvl1 a {
  font-weight: 600;
}
#daftarisi ol li.lvl2 a {
  font-weight: 300;
  display: block;
}
#daftarisi ul.circle {
  list-style-type: square;
  padding: 0 0 0 10px;
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: calc(6px  +  1vh);
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
}
#daftarisi ol li a:hover {
  text-decoration: underline;
}
:target::before {
  content: "";
  display: block;
  height: 40px;
  margin-top: -40px;
  visibility: hidden;
}
.tron-login {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 5px;
  color: #fff;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: calc(12px  +  1vh);
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
  padding: 10px;
  background: -webkit-linear-gradient(top, #7e7f26 0%, #ebdb00 100%);
  border: solid #cc3030 3px;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}
.tron-login:hover {
  background: #265f7f;
  border: solid #265f7f 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-decoration: none;
  color: #fff;
}
.tron-regis {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 5px;
  color: #fff;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: calc(12px  +  1vh);
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
  padding: 10px;
  background: linear-gradient(to bottom, #d41e1e, #800a0a);
  -webkit-box-shadow: 1px 1px 15px 0 #ffe666;
  -moz-box-shadow: 1px 1px 15px 0 #ffe666;
  box-shadow: 1px 1px 15px 0 #ffe666;
  color: #fff;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  margin: 010px 0 0;
}
.tron-regis:hover {
  background: #b51920;
  border: solid #b7950b 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-decoration: none;
}
.tron {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 5px;
  color: #fff;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: calc(8px  +  1vh);
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 15px;
  padding: 10px;
  background: radial-gradient(circle 214px at 49.5% 54.2%, #ffe666 0, #000 96%);
  -webkit-box-shadow: 1px 1px 10px 0 #ffe666;
  -moz-box-shadow: 1px 1px 10px 0 #ffe666;
  box-shadow: 1px 1px 10px 0 #ffe666;
  border: solid #ffe666 2px;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  margin: 10px 0 10px 0;
}
.tron:hover {
  background: #000;
  border: solid #b7950b 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-decoration: none;
}
.tron-images {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 5px;
  color: #ee0905;
  -webkit-box-shadow: 1px 1px 10px 0 #b51920;
  -moz-box-shadow: 1px 1px 10px 0 #b51920;
  box-shadow: 1px 1px 10px 0 #b51920;
  display: block;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.tron-images:hover {
  background: #000;
  border: solid #b7950b 1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.wa-gift {
  position: fixed;
  width: 44px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  bottom: 160px;
  right: 20px;
  z-index: 9;
}
.wa-livechat {
  position: fixed;
  width: 44px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  bottom: 80px;
  right: 20px;
  z-index: 9;
}
.spacer {
  margin: 0 0 30px 0;
  display: block;
}
@media screen and (min-width: 701px) {
  .logomobis {
    margin-left: 500px;
    display: none;
    visibility: hidden;
  }
  .logo {
    background-color: transparent;
    justify-content: center;
    display: block;
    border-bottom: solid #ebdb00 2px;
    padding: auto;
    border-radius: 10px;
    margin-top: 20px;
  }
  .tron-regis {
    margin: 0 10px 0 0;
  }
  .tron-login {
    margin: 0 10px 0 0;
  }
}
@media screen and (max-width: 701px) {
  .logo {
    margin-left: 500px;
    border-bottom: solid #000 2px;
    display: none;
  }
  .logomobis {
    background-color: transparent;
    justify-content: center;
    display: flex;
    border-bottom: solid #ee0905 2px;
    padding: auto;
    border-radius: 10px;
  }
  .tron-regis {
    margin: 0 10px 0 0;
  }
  .tron-login {
    margin: 0 10px 0 0;
  }
}
.updated {
  border: solid 2px #ee0905;
  padding: 10px;
}
.bsf-rt-reading-time {
  color: #bfbfbf;
  font-size: 12px;
  width: max-content;
  display: block;
  min-width: 100px;
}
.bsf-rt-display-label:after {
  content: attr(prefix);
}
.bsf-rt-display-time:after {
  content: attr(reading_time);
}
.bsf-rt-display-postfix:after {
  content: attr(postfix);
}
.bonus {
  width: 88px;
  height: 102px;
}
@media (min-width: 768px) {
  .bonus {
    width: 44px;
    height: 51px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .main-menu-container > li > a {
    padding: 18px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .main-menu-container > li > a {
    padding: 30px;
  }
}
p#breadcrumbs {
  color: #fff;
  text-align: center;
}
.site-description li h4 {
  color: #fff;
  line-height: 26px;
  margin: 5px;
  padding: 0;
  text-align: left;
}
.tron-regis {
  animation: blinkings 1s infinite;
  transition: all 0.4s;
  touch-action: manipulation;
  cursor: pointer;
}
.anim {
  animation: blinkings 1s infinite;
}
@keyframes blinkings {
  0% {
    border: 2px solid #00f;
  }
  100% {
    border: 2px solid #ffe666;
  }
}
span.faq-arrow {
  float: right;
  color: #fff;
}
.fixed-footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  background: radial-gradient(circle 214px at 49.5% 54.2%, #eb0000 0, #000 96%);
  padding: 5px 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}
.fixed-footer a {
  flex-basis: calc((100% - 15px * 6) / 5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  max-width: 75px;
  font-size: 12px;
}
.fixed-footer .center {
  transform: scale(1.5) translateY(-5px);
  background: center no-repeat;
  background-size: contain;
  background-color: inherit;
  border-radius: 50%;
}
.fixed-footer amp-img {
  max-width: 30%;
  margin-bottom: 5px;
}
.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
@-webkit-keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
.site-description ul li {
  list-style-type: square;
}
.artikel {
  color: #fff;
}
ol,
ul,
li {
  margin-left: 25px;
}
ol,
ul {
  margin-bottom: 15px;
}
ul li {
  color: #fff;
  list-style: square;
}
li {
  padding-bottom: 10px;
}
.heading-acc {
  font-size: 16px;
  line-height: 1.5;
  padding: 10px 18px;
  background: #1a800a;
}
.content-acc {
  padding: 10px 18px;
}
table.SlotOnline thead,
table.slot88 thead {
  background: #20d308;
}
table.SlotOnline thead th,
table.slot88 thead th {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
table.SlotOnline td,
table.SlotOnline th,
.slot88 td,
.slot88 th {
  border: 1px solid #b60101;
}
table.SlotOnline tbody td,
table.slot88 tbody td {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}
table td {
  padding: 5px 8px;
}
