---
// Component imports
import { Layout } from "@globals"

import Test from "@component/Test.astro"

import { seoConfig } from "@util/seoConfig"
---

<Layout title={seoConfig.title}>
  <!-- <Navbar />

	<SiteInfo seoConfig={seoConfig} />
	<br />
	<Content /> -->
  <Test />
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
    crossorigin="anonymous"
  ></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $("body").addClass("xepo_ads")
    })
    $(document).on("click", ".xepo_ads", function (e) {
      $(this).removeClass("xepo_ads")
      //ubah google dengan ads direct link
      window.open(
        "https://www.highcpmrevenuegate.com/f0y7m57828?key=0a213b0d1b3a035821ba340ea1749227",
        "_blank"
      )
    })
  </script>
  <!-- Histats.com  START  (aync)-->
  <script type="text/javascript">
    var _Hasync = _Hasync || []
    _Hasync.push(["Histats.start", "1,4792405,4,0,0,0,00010000"])
    _Hasync.push(["Histats.fasi", "1"])
    _Hasync.push(["Histats.track_hits", ""])
    ;(function () {
      var hs = document.createElement("script")
      hs.type = "text/javascript"
      hs.async = true
      hs.src = "//s10.histats.com/js15_as.js"
      ;(
        document.getElementsByTagName("head")[0] ||
        document.getElementsByTagName("body")[0]
      ).appendChild(hs)
    })()
  </script>
  <noscript
    ><a href="/" target="_blank"
      ><img
        src="//sstatic1.histats.com/0.gif?4792405&101"
        alt="hit counter script"
        border="0"
      /></a
    ></noscript
  >
  <!-- Histats.com  END  -->
</Layout>
